<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/private/tabs/tab1"
          [icon]="exit">
      </ion-back-button>
      </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Default Refresher
  <ion-refresher slot="fixed" (ionRefresh)="cargarFotos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <!-- List of Text Items -->
  <ion-row>
    <ion-col size="6" *ngFor="let foto of fotos; let i = index;" class="ion-text-center">
      <ion-label>
        {{foto.comentario}}
      </ion-label>
      <img [src]="foto.url"/>
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button color="danger" size="small" (click)="borraFoto(foto)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start">
        <ion-fab-button color="data" size="small" (click)="share(foto)">
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*"/>
    <ion-fab-button (click)="selectImagenSource()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
