<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/private/tabs/tab1"
          [icon]="exit">
      </ion-back-button>
      </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Default Refresher
  <ion-refresher slot="fixed" (ionRefresh)="cargarFotos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <!-- List of Text Items -->
  <ion-list>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
