<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content  class="background-image" no-scroll padding>
<ion-avatar id="avatar" ></ion-avatar>

<div class="name">
    <p>NOMBRE DE PERFIL</p>
</div>

<div id="layout_user">
    <div id="user_desciption">
        <p class="text">Location</p>
        <p>Localizacion de Usuario</p>
        <p class="text">Description</p>
        <p>Descripcion de Usuario</p>
        <p class="text">Protip</p>
        <p>Protip del usuario</p>
    </div>

    <div id="user_buttons">
        <!--abrir modal-->
        <ion-button  fill="clear" (click)="openModal()" class="text">EDITAR PERFIL</ion-button>
        <ion-button fill="clear" (click)="logout()" class="text-logout">CERRAR SESION</ion-button>
    </div>
</div>
</ion-content>