<ion-avatar id="avatar" ></ion-avatar>

<div class="name">
    <p>NOMBRE DE PERFIL</p>
</div>

<div id="layout_user">
    <div id="user_desciption">
        <p class="text">Location</p>
        <p>Localizacion de Usuario</p>
        <p class="text">Description</p>
        <p>Descripcion de Usuario</p>
        <p class="text">Protip</p>
        <p>Protip del usuario</p>
    </div>

    <div id="user_buttons">
        <ion-button (click)="openModal()"  fill="clear" class="text">EDITAR PERFIL</ion-button>
        <ion-button fill="clear" class="text-logout">CERRAR SESION</ion-button>
        <!--id="trigger-button"  -->
        <!-- <ion-modal trigger="trigger-button" (click="">
                <ng-template>
                    <ion-content>
                        Foto de Perfil
                    </ion-content>
                </ng-template>
            </ion-modal> -->
    </div>
</div>
