<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="bott" tab="tab1">
      <ion-icon  name="list-outline"></ion-icon>
      <ion-label>Índice</ion-label>
    </ion-tab-button>


    <ion-tab-button class="bott"  tab="tab2">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa de obras</ion-label>
    </ion-tab-button>
    
    <ion-tab-button class="bott" tab="tab3">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Obras</ion-label>
    </ion-tab-button>
    
    <ion-tab-button class="bott" tab="tab4">
      <ion-label>Obras</ion-label>
    </ion-tab-button>

    <ion-tab-button class="bott" tab="tab5">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
