
<ion-header [translucent]="true">
  <ion-row>
    <ion-col>
      <ion-toolbar>

        <ion-searchbar debounce="500" Placeholder="Buscar Obras..." style="--background: #fcfcfc !important;" [animated]="true" (ionChange)="buscarObras($event)"></ion-searchbar>
        <ion-icon name="help-circle-outline" slot="end" style="zoom:2.5;padding-right:5px" (click)="showHelp()"></ion-icon>
      </ion-toolbar>
      </ion-col>
    </ion-row>  
</ion-header>
<ion-content [fullscreen]="true">
<ion-refresher slot="fixed" (ionRefresh)="cargarObras($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<!-- List of Text Items -->
<ion-list style="background-color: #e0e0e0">
  <!-- Sliding item with text options on both sides -->
  <ion-item-sliding *ngFor="let obra of obras ; let i = index" >
    <ion-item-options side="start">
      <ion-item-option color="primary" (click)="editar(obra)">
        <ion-icon name="create" style="zoom: 1.5;"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item class="backGroundColor">
      <!-- 
      <ion-thumbnail>
        Poner una foto de la obra? {{obra.fotos[0]}} ??
      </ion-thumbnail>
      -->
      <ion-label>
        <h2>{{obra.nombre}}</h2>
        <p>{{obra.datos}}</p>
      </ion-label>
        <ion-icon name="add-circle-outline" (click)="goToVisitas(obra)" class="ion-icon"></ion-icon>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="borraObra(obra)">
        <ion-icon name="remove-circle" style="zoom: 1.5;"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
 
  <div *ngIf="help" class="myHelp">
    <ion-grid style="margin-top:50px;color:rgb(0, 0, 0)">
     <ion-row>
       <ion-col size="12">
          Puedes deslizar hacia la derecha de la obra para poder editarla al puslar el botón:   
          <ion-icon name="create" style="zoom: 2; color: #DA696B;"></ion-icon>
          <br><br><br>
          Puedes deslizar hacia la izquierda de la obra para poder borrarla al puslar el botón: 
          <ion-icon name="remove-circle" style="zoom: 2;color:red"></ion-icon>
          <br><br><br>
          Para obtener las visitas de la obra puede pulsar el botón:  
          <ion-icon name="add-circle-outline" style="color:#DA696B; zoom: 2;" class="ion-icon"></ion-icon>
          
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--
<ion-infinite-scroll #infiniteScroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
  -->
</ion-content>
