<ion-content  class="background-image" no-scroll padding>
  <div class="login-wrap">
    <ion-card class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entrar</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <ion-label class="label">Correo</ion-label>
            <ion-input type="text" #email required ></ion-input>
          </div>
          <div class="group">
            <ion-label class="label">Contraseña</ion-label>
            <ion-input type="password" #password required></ion-input>
          </div>
          <div>
            <ion-button (click)="login()"type="submit" color="danger" shape= "round" expand="block">
              <ion-icon name="log-in"></ion-icon>&nbsp;
               Iniciar Sesion
            </ion-button>
          </div>
          <span class="center-span"> OR </span>
          <div>
            <ion-button (click)="googleSignIn()" color="primary" shape= "round" expand="block">
              <ion-icon name="logo-google"></ion-icon>&nbsp;
               Iniciar con Google
            </ion-button>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">¿Olvidaste la contraseña?</a>
          </div>
        </div>

        <div class="sign-up-htm">
          <div class="group">
            <ion-label for="user" class="label">Nombre</ion-label>
            <ion-input #nombre type="text" required ></ion-input>
          </div>
          <div class="group">
            <ion-label for="pass" class="label">Contraseña</ion-label>
            <ion-input #passwordR  type="password" required ></ion-input>
          </div>
          <div class="group">
            <ion-label for="pass" class="label">Repite la contraseña</ion-label>
            <ion-input  #passwordRR  type="password" required ></ion-input>
          </div>
          <div class="group">
            <ion-label for="pass" class="label">Email</ion-label>
            <ion-input #emailR type="text" required></ion-input>
          </div>
          <div>
            <ion-button (click)="registro()"type="submit" color="danger" shape= "round" expand="block">
              <ion-icon name="log-in"></ion-icon>&nbsp;
               Registrarse
            </ion-button>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">¿Ya estás registrado?</label>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>  