<ion-content>
  <div class="padding15">
    <p>Foto de perfil</p>
  
    <div id="cambiarFoto">
      <div id="textFoto">
        <p>ELIJA UNA FOTO</p>
      </div>
    </div>
  
    <ion-item>
      <ion-label position="stacked">
        <div class="text-field">
          Nombre
        </div>
      </ion-label>
      <ion-input placeholder="Ingresa Nombre Completo"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">
        <div class="text-field">
          Email
        </div>
      </ion-label>
      <ion-input placeholder="Ingresa Email"></ion-input>
    </ion-item>
  
    <ion-button fill="outline" class="button-edit"><div class="text-edit">ACTUALIZAR</div></ion-button>
  </div> 
</ion-content>
