<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="closeModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="padding15">
    <p>Foto de perfil</p>

    <div id="cambiarFoto">

      <div id="textFoto">
        <ion-button class="hazFoto">
          <input id="myFileInput" (click)="hazFoto()" />CAMBIAR FOTO
        </ion-button>
      </div>
    </div>
    <div class="container">
      <ion-item>
        <ion-label position="stacked">
          <div class="text-field">
            Nombre
          </div>
        </ion-label>
        <ion-input placeholder="Ingresa Nombre Completo" (ionChange)="ionChangeNombre($event)" value="{{user.nombre}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <div class="text-field">
            Email
          </div>
        </ion-label>
        <ion-input placeholder="Ingresa Email" (ionChange)="ionChangeMail($event)" value="{{user.email}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <div class="text-field">
            Datos
          </div>
        </ion-label>
        <ion-input placeholder="Datos" (ionChange)="ionChangeDatos($event)" value="{{user.datos}}"></ion-input>
      </ion-item>
    </div>
    <ion-button fill="solid" color="#a43a40" class="button-edit" (click)="actualizar(user.id, user)">
      <div class="text-edit" routerLinkActive="active">ACTUALIZAR</div>
    </ion-button>
  </div>
</ion-content>