
<ion-header>
  <ion-toolbar>
    <ion-title>Editar Obra</ion-title>
    <ion-button  slot="end" fill="clear" size="large" (click)="closeModal()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <form [formGroup]="formObra" (ngSubmit)="editObra()">
    <ion-item>
      <ion-label color="primary">Nombre: </ion-label>
      <ion-textarea type="text" formControlName="nombre" [(ngModel)]="this.obre.nombre"></ion-textarea>
  </ion-item>
    <ion-item>
        <ion-label color="primary">Datos: </ion-label>
        <ion-input type="text" formControlName="datos" [(ngModel)]="this.obre.datos"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class=".boton" expand="full" color="primary" type="Submit">Editar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
